.swiper-pagiation-bullet-active{
       background-color: var(--skin-color);
}
.contact__container{
       grid-template-columns: 300px 340px;
       column-gap: 3rem;
       justify-content: center;
       align-items: center;
}

.contact__info{
       display: grid;
       row-gap: 1rem;
}
.contact__card{
       background-color: var(--box-color);
       padding: 1rem;
       border-radius: .5rem;
       text-align: center;
}
.contact__card-icon{
       width:40px;
       height: 40px;
       margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data{
       font-size: var(--small-font-size);
}
.contact__card-title{
       font-weight: var(--font-medium);
}
.contact__card-data{
       display: block;
       margin-bottom: var(--mb-0-75);
}
.contact__button{
       color: var(--skin-color);
       font-size: var(--small-font-size);
       display: flex;
       align-items: center;
       justify-content: center;
       column-gap: .25rem;
       cursor: pointer;
}
.contact__button:hover {
       transform: translateX(.25rem);
}
.input__container{
       position: relative;
       margin-top: .1rem;
       margin-bottom: 1.9rem;
}

.input{
       width: 100%;
       border: 2px solid var(--text-color);

       padding: .6rem 1.2rem;
       color: var(title-color);
       font-weight: var(--font-mediium);
       font-size: var(--normal-font-size);
       letter-spacing: .5px;
       border-radius: .5rem;
       transition: .3s;
}
textarea.input{
       padding: .8rem 1.2rem;
       min-height: 140px;
       border-radius: .50rem;
       resize: none;
}