/* <!--------- Home ---------> */
/* ------------------side bar start-------------------- */
/* put them all inside 1 div in left side and make line */
.sidebar{
       position: fixed;
       width: 100px;
       height: 100vh;
       letter-spacing: 7px;
       background-color: var(--body-color);
       border-right: 1px solid var(--box-color);
       transition: .5s;
}
/* edit the capital M like circule .. */
.nav__logo{
       position: absolute;
       left: 0;
       right: 0;
       top: 1.8rem;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       background: linear-gradient(to right, red, green);
       text-align: center;
       margin: auto;
}
/* edit capital M : */
.nav__logo-text{
       font-size: 1.125rem;
       color: var(--title-color);
       font-weight: var(--font-bold);
       line-height: 40px;
}
/*  edit menu to down till up  */
.nav__menu{
       position: fixed;
       transform: rotate(-90deg) translateX(-100%); /* turn the menu  */
       transform-origin: left top;
       width: 100vh;
}
.menu{
       display: flex;
}
/* edit the nav list and nav link  */
.nav__list{
       display: flex;
       flex-direction: row-reverse;
       margin: -2px auto 0 auto;
}
.nav__link{
       float: right; /* to make the point start from right */
       height: 100%;
       line-height: 100px;
       padding: 0 1rem;
       color: var(--title-color);
       font-weight: var(--font-medium);
       position: relative;
       transition: .4s;

}
/* Active the link */
.nav__link.active-link, .nav__link:hover{
       color: var(--skin-color);
}
/* adding point on the menu(navlink) */
.nav__link.active-link::after, .nav__link:hover::after {
       position: absolute;
       content: "";
       width: 6px;
       height: 6px;
       background-color: var(--skin-color);
       border-radius: 50%;
       bottom: 1.8rem;
       left: 0;
       right: 0;
       margin: auto;}
/* share icon edit  */
.btn__share{
       position: absolute;
       bottom: 1.8rem;
       left: 0;
       right: 0;
       text-align: center;
}
.social__share{
       font-size:1.5rem;
}
/* ------------------sidebar End-------------------- */